<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Bank Account Management System</title>
</head>
<body>
<div align = "center">
    <h1> Customers List </h1>
    <table>
        <thead> <tr>
            <th> Customer Full Name</th>
            <th> Account Number</th>
            <th> Balance</th>
            <th> Email</th>
            <th> PhoneNumber</th>
            <tbody>
    <tr th:each ="user : $ {listCustomer}">
        <td th:text = "$user.customerName}"></td>
        <td th:text = "$user.accountnumber}"></td>
        <td th:text = "$user.balance}"></td>
        <td th:text = "$user.phoneNumber}"></td>
    </tr>
    </tbody>
        </tr></thead>
    </table>

</div>

</body>
</html>